header {
    background-color: #900c3f;
    height: 100px;
}
body {
    background-color: #f5deb3;
}
footer {

}
nav {
    height: 60px;
    background-color: #daf7a6;
}
* {
    text-align: right;
}
section:first-child {
    background-color: navy;
}
div:nth-child(2) {
    background-color: yellow;
}