body{
    background: rgb(207,251,148);
    background: linear-gradient(180deg, rgba(207,251,148,1) 35%, rgba(2,0,36,0.08167016806722693) 100%, rgba(0,212,255,1) 100%);
    
}
.ecrits{
    width: 1200px;
    background-color: white;
    margin: auto;
    border: 1px solid rgb(139, 177, 1);
}
img{
    display: inline;
    max-width: 50%;
}
.main{
    display: block;
}
.float{
    float: left;
}
.clear{
    clear: both;
}